.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Forecast {
  margin: auto;
  width: 600px;
}

.Forecast table {
  border-collapse: collapse;
  width: 100%;
}

.Forecast table, th, td {
  border: 1px solid black;
}